# Text editors

.vs
.vscode
*.swp
*.bak
~*
#-------------------------------------------------------------------------------

# Recommended by the Lattice Diamond user guide

*.bgn
*.bit
*.edi
*.ibs
*.ior
*_map.ncd
*_map.ncd
*_mapvho.sdf
*_mapvho.vho
*_mapvo.sdf
*_mapvo.vo
*.mcs PROM
*.mrp
*.ncd
*.ngd
*.ngo
*.pad
*.par
*.prf
*.sso
*.tw1
*.twr
*.vho
*.vo
*_vho.sdf
*_vo.sdf

inc*
golden
#-------------------------------------------------------------------------------

# More Lattice Diamond files

.recovery

*_tcr.dir
*.ccl
*.xml
*.tpf
*.html

*.svf
*.trc

impl1
#-------------------------------------------------------------------------------

