BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ipClk" SITE "21" ;
LOCATE COMP "opLed[0]" SITE "46" ;
LOCATE COMP "opLed[1]" SITE "45" ;
LOCATE COMP "opLed[2]" SITE "44" ;
LOCATE COMP "opLed[3]" SITE "43" ;
LOCATE COMP "opLed[4]" SITE "40" ;
LOCATE COMP "opLed[5]" SITE "39" ;
LOCATE COMP "opLed[6]" SITE "38" ;
LOCATE COMP "opLed[7]" SITE "37" ;
IOBUF PORT "opLed[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLed[7]" IO_TYPE=LVCMOS33 ;
