BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ipClk" SITE "21" ;
LOCATE COMP "ipnReset" SITE "19" ;
LOCATE COMP "opLED[0]" SITE "46" ;
LOCATE COMP "opLED[1]" SITE "45" ;
LOCATE COMP "opLED[2]" SITE "44" ;
LOCATE COMP "opLED[3]" SITE "43" ;
LOCATE COMP "opLED[4]" SITE "40" ;
LOCATE COMP "opLED[5]" SITE "39" ;
LOCATE COMP "opLED[6]" SITE "38" ;
LOCATE COMP "opLED[7]" SITE "37" ;
IOBUF PORT "ipClk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipnReset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLED[7]" IO_TYPE=LVCMOS33 ;
